.container4 .con4box1 {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 110px;
    margin: 98.76px 477px 0px 479px;
}
.container4 .con4box1 h2 {
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
    margin-bottom: 21.24px;
}
.container4 .con4box1 hr {
    width: 64px;
    height: 5px;
    background: #E27866;
    border: 2px solid #E27866;
    margin: 0 auto;
}
.container4 .con4box1 p{
    margin-top: 26.76px;
    text-align: center;
    font-size: 14px;
    color: #86878B;  
}

// container 4 remeliu isdestymas
.container4 .con4box2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

// container 4 remeliai
.container4 .conboxbox1 {
    margin-top: 65.24px;
    width: 286px;
    height: 194px;

}
.container4 .conboxbox2 {
     margin-top: 65.24px;
    width: 242px;
    height: 194px;
    
}
.container4 .conboxbox3 {
     margin-top: 65.24px;
    width: 238px;
    height: 174px;
}
// iconu dizainas
.container4 .con4icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    color: #E27866;
    width: 50px;
    height: 50px;
    border: 1px solid #E27866;
    border-radius: 100%;
}

//container4 conboxbox dizainas
.conboxbox1 h3 , .conboxbox2 h3 , .conboxbox3 h3 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 27px;
}
.conboxbox1 p , .conboxbox2 p , .conboxbox3 p {
    font-size: 14;
    color: #86878B;
}
